[submodule "prog-client-web-audio"]
	path = prog-client-web-audio
	url = https://github.com/SimonSerrano/prog-client-web-audio
[submodule "prog-back-web-audio"]
	path = prog-back-web-audio
	url = https://github.com/RomainGIRAUDEAU/prog-back-web-audio.git
